/*  
Theme Name: OAK
Theme URI: http://www.moustique.net
Description:
Version: 1.0
Tags: 
Author: Moustique Design
Author URI: http://www.moustique.net/
*/

/* =======
	RESET
   ------- */

body, h1, h2, h3, h4, h5, ul#sidebar, ul.widgets, li, ul#sidebar li ul, ol.commentlist, ul.children, ul#footercol li ul,
div#submenu-nav ul, div#submenu-nav ol, form, img, table
	{
	margin:0;
	padding:0;
	border: 0;
	}

h1, h3 {
	font-weight: normal;
	font-size: 16px;
}
	
/* ==============
	TYPE & COLOR
   -------------- */

/* Default font */

body{
	font-family: Trebuchet MS;
	background-color: #a0b894;
	color: #4a3345;
}

a,a.hover, a.visited{
	text-decoration: none;
	color: #4a3345;
}
/* ========
	LAYOUT
   -------- */

.left { float:left; }
.right { float:right; }
.center { text-align:center; }
.aligncenter, div.aligncenter { display: block; margin-left: auto; margin-right: auto; }

div.widecolumn { width: 1002px; }

div.column, ul.column, ul#sidebar
	{ width: 580px; }

div#site { width: 100%; }

div#wrap
	{
	width: 958px;
	margin: 0 auto;
	overflow:hidden;
	padding: 24px 24px 10px 24px;
	}
	div#toplist { position:relative; width: 1102px; }
		div#toplist div.feed { float:right; padding: 5px 0; }
			div#toplist div.feed a { padding: 5px; background: #444; color: #fff; }
				div#toplist div.feed a:hover { background: #000; }
				
div#wrapfooter {
	width: 1020px;
	margin: 0 auto;
	overflow:hidden;
	padding: 0 20px 0 0;
}

div#header
	{
	width: 100%;
	float:left;
	margin: 20px 0 0 0;
	padding-bottom: 10px;
	}
	div#header h1 { letter-spacing:-1px; font-size: 36px; font-weight:normal; }
		div#header h1 span { color: #bbb; font-size: 24px; text-transform: uppercase; }



div#content { float:left; margin-top: 0px; }
	div.post, div.page, div.attachment { padding: 10px 0 0 0; }
		div.postmeta { width:100%; height:1%; float:left; margin-bottom: 10px; }
		body.single div#content div.postmeta, body.page div#content div.postmeta { margin-bottom: 30px; }
			div.postmeta span.author {}
				body.blog div.postmeta span.author { display:none; }
			div.postmeta span.categories {}
			div.postmeta span.tags {}
			div.postmeta span.timestamp {}
			div.postmeta span.comments { float:right; margin-left: 10px; }
				div.postmeta span.comments span {}
		p.attachmentnav { padding-top: 5px; color: #777; font-style:italic; }
			p.attachmentnav a { font-style: normal; }
		div.post div.entry, div.page div.entry { width:100%; float:left; }
	div.sticky { padding: 20px 20px 8px 20px; background: #f8f8f8; border: 1px solid #e8e8e8; border-width: 1px 0; height: 1%; }
	
	



div#footer
	{
	width: 100%;
	float:left;
	clear:both !important;
	}
	ul.footercol { width: 240px; float:left; }
		ul.footercol li { list-style:none; margin-bottom: 15px; padding: 0 10px; }
			ul.footercol li ul { margin-left:1px; padding-left:0; }
				ul.footercol li ul li { margin-bottom: 5px; padding-left:0 !important; }
					ul.footercol li ul li ul { margin-left: 10px; }
					
div#footer h1 a {color:#ffffff;}

div#logo {
	width: 367px;
	float: left;
}
	div#logo a span {
		display: none;
	}

div#copy
	{
	width:100%;
	float:left;
	clear:both;
	margin: 0;
	padding: 10px 0;
	}
	div#copy p { margin:0; padding:0 0 0 10px; }
	div#copy p.right { padding: 0 10px 0 0; }
	div.copycolumnwide { float:left; width:620px; }
	div.copycolumnwide h1 a {color: #FFFFFF;}
	div.copycolumn { float:right; width:320px; }


/* ===================
	ELEMENTS & DESIGN
   ------------------- */



/* Images and aligns */
.alignleft, blockquote.alignleft { float:left; margin: 0 15px 15px 0; }
.alignright, blockquote.alignright { float:right; margin: 0 0 15px 15px; }
.frame { padding: 5px; border: 1px solid #e8e8e8; }
.wp-caption { padding: 10px 7px; border: 1px solid #e8e8e8; font-size: 12px; color: #777; font-style: italic; text-align:center; }
p.wp-caption-text { margin:10px 0 0 0 !important; padding:0; line-height: 14px !important; }

div.gallery { margin-bottom: 14px; }
	dl.gallery-item {}
		dt.gallery-icon {}
			img.attachment-thumbnail { border:0; }
		dd.gallery-caption { margin-top: 8px; font-size: 12px; color: #777; font-style: italic; }

#mainmenu{
	float: left;
	height: 112px;
}

.menuitem {
	float: left;
	width: 90px;
	padding-right: 22px;
	text-align: right;
	font-weight: bold;
}

#rightmenu{
	float: right;
	margin-right: -24px;
}

ul li, li {
	list-style-type: none;
}

li a {
	color: #4a3345;
	font-size: 20px;
	font-weight: bold;
	text-decoration: none;
}

li {
	text-align: right;
}

#prev {
	background: none repeat scroll 0 0 #a0b894;
    border: none;
    margin: 0 5px 0 0;
    padding: 3px 5px;
    text-decoration: none;
}

#next {
	background: none repeat scroll 0 0 #a0b894;
    border: none;
    margin: 0 5px 0 0;
    padding: 3px 5px;
    text-decoration: none;
}

#contact-dates p {
	text-align: right;
	font-weight: bold;
	color: #675d5e;
	margin-top: 0.3em;
	margin-bottom: 0em;
}

#contact-dates span {
	font-size: 0.6em;
	font-weight: 200;
}

#contact-dates a {
	color: #675d5e
}


/* ===================
	CONTACT PAGE DESIGN
   ------------------- */

.contact-page {
	color: #c2c7b1;
	font-size: 1.2em;
	line-height: 1.1em;
	font-weight: bold;
}

.contact-page #contact-background {
	width: 980px;
	margin: 0px auto;
	height: 731px;
}

#contact-menu {
	padding-top: 400px;
}

.contact-page p {
	text-align: right;
}

.contact-page a {
	color: #c2c7b1;
}

.contact-page li.current-menu-item a {
	color: #c2c7b1; /* #9ba47e */
}

.contact-page span {
	font-size: 0.4em;
}


.slideshow{
	width: 560px;
	float: left;
	position: relative;
}

.slideshowtext {
	background-color: #b1c29e;
	float: right;
	position: relative;
	padding: 20px 24px 0px 40px;
	margin-right: 24px;
	text-align: right;
	line-height: 1;
	height: 350px;
	width: 310px;
}

li.current-menu-item a{
	color: #000;
}

div#portfolionumbers {
	float: left;
	width: 90px;
	height: 90px;
	font-size: 14px;
	font-weight: bold;
	overflow: hidden;
	padding-right: 22px;
}

a.active {
	color: #000;
	text-decoration: underline;
}

div#portfolio-thumbnails {
	float: left;
	width: 90px;
	padding-right: 0;
	text-align: right;
	font-weight: bold;
	overflow: hidden;
}


@media only screen and (max-width: 1024px) {
  div#wrap {
	 padding-left: 0;
	}
	
	#rightmenu{
	 margin-right: 0;
  }

  #mainmenu {
    margin-left: 24px;
  }
  
  div.widecolumn {
    margin-left: 24px;
    width: 100%;
}
	
	div#wrapfooter {
	 width: 962px;
  }
}